body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
}
.navbtn{
    background-image: url(/main-menu.png);
    height: 25px;
    margin-left: 199px;
    background-position: absolute;
    background-repeat: no-repeat;
    align-items: right;
    background-position: right;
    margin-right: 5px;
    background-size: contain;
    background-position: center;
    position: relative;
    cursor: pointer;
}
.navbtntwo{
    background-image: url(/search\ \(1\).png);
    height: 25px;
    margin-left: 199px;
    background-position: absolute;
    background-repeat: no-repeat;
    align-items: right;
    background-position: right;
    margin-right: 5px;
    background-size: contain;
    background-position: center;
    position: relative;
    cursor: pointer;
}
nav ul {
    list-style: none;
    /* display: block; */
    /* margin: 0;
    padding: 0; */
}
nav ul li{
    padding: 5px;
    display: block;
}
nav{
    margin: 0;
    padding: 0;
    /* align-items: right; */
    position: relative;
}

#panel{
    display: none;
}
.navcontainer{
    top: 15px;
    height: 400px;
    width: 300px;
    margin-left: 1504px;
    position: right;
    align-content: right;
    z-index: 1;
    position: fixed;
}
.navmenu{
    height: 100%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    border-radius: 12px;
    
}

section{
    margin: 0;
    padding: 0;
}
.navmenu ul{
    text-decoration: none;
    list-style: none;
}
.navmenu ul li{
    font-size: 25px;
    margin: 0;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    color: white;
    z-index: 100;
}
.landpagecontainer{
    background-image: url(/landpagerep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 555px;
    width: 100vw;
}
.infonlandpage {
    height: 100px;
    width: 640px;
    background-color: rgb(245, 245, 245);
    padding: 30px;
    margin-left: 0px;
    font-family: 'Rubik', sans-serif;
    opacity: 0.8;
    color: black;
    top: 260px;
    position: relative;
}
.columsections{
    height: 400px;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* position: relative; */

}
.columsections ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.columsections ul li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 450px;
}

.textindiv{
    width: 210px;
    height: 100px;
    background-color:  rgb(241, 44, 38);
    padding: 15px;
    margin-left: 0px;
    font-family: 'Rubik', sans-serif;
    opacity: 0.8;
    font-size: 12px;
    color: white;
    position: relative;
}

.textindiv h4{
    font-family: 'QuickSand', sans-serif;
    font-size: 15px;
}

.collectiveimg{
    padding: 0;
    margin: 0;
    position: relative;
    width: 200px;
}

.collectiveimg .images{
    height: 690px;
    width: 490px;
    margin: 0;
    padding: 0;
    position: absolute;
    size: contain;
}

/* .collectiveimg2{
    background-image: url(/pexels-wildan-zainul-faki-3790492.jpg);
    height: 400px;
    width: 900px;
    margin: 0;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} */